[submodule "docs"]
	path = docs
	url = git@github.com:kimdre/doco-cd.wiki.git
	branch = master
[submodule "test-cases"]
	path = test-cases
	url = git@github.com:kimdre/doco-cd_tests.git
	branch = main
