name: Build Image

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    uses: docker/github-builder/.github/workflows/build.yml@abff7868c866c54704b6afa9ad5871948ca97334 # v1
    permissions:
      contents: read # to fetch the repository content
      id-token: write # for signing attestation(s) with GitHub OIDC Token
      packages: write # required to push to GHCR
    with:
      build-args: |
        APP_VERSION=${{ github.ref_name }}
      platforms: linux/amd64,linux/arm64,linux/arm/v7
      cache: true
      cache-mode: max
      output: image
      push: true
      sbom: true
      set-meta-annotations: true
      set-meta-labels: true
      meta-images: ghcr.io/${{ github.repository }}
      meta-tags: |
        type=semver,pattern={{version}}
        type=semver,pattern={{major}}.{{minor}}
        type=semver,pattern={{major}}
    secrets:
      registry-auths: |
        - registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

  generate-sbom:
    name: Generate SBOM
    runs-on: ubuntu-latest
    permissions:
       contents: write # write to upload the SBOM file
    needs:
      - build
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Prepare
        run: |
          # Get version without 'v' prefix
          echo "APP_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Generate Software Bill of Materials (SBOM)
        uses: aquasecurity/trivy-action@1bd062560b422f5944df1de50abd05162bea079e
        with:
          image-ref: ghcr.io/${{ github.repository }}:${{ env.APP_VERSION }}
          scan-type: image
          format: cyclonedx
          github-pat: ${{ secrets.GITHUB_TOKEN }}
          output: doco-cd_${{ github.ref_name }}_sbom.cdx.json
          severity: CRITICAL,HIGH
          vuln-type: os,library
          scanners: vuln,secret,misconfig,license
          ignore-unfixed: false
          exit-code: 0

      - name: Upload SBOM as artifact
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        with:
          name: trivy-sbom-report
          path: doco-cd_${{ github.ref_name }}_sbom.cdx.json
          retention-days: 90

      - name: Upload Release Assets
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          gh release upload ${{ github.ref_name }} doco-cd_${{ github.ref_name }}_sbom.cdx.json --clobber
