name: Spell checking

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          skip: ./.git,go.mod,go.sum
          ignore_words_list: AtLeast,AtMost