name: Tests

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags-ignore:
      - '*'
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'
      - 'renovate.json'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'
      - 'renovate.json'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: recursive
      - uses: codespell-project/actions-codespell@406322ec52dd7b488e48c1c4b82e2a8b3a1bf630 # v2
        with:
          check_filenames: true
          skip: ./.git,go.mod,go.sum
          ignore_words_list: AtLeast,AtMost

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - run: go mod download
      - name: Run linters
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          args: --timeout=5m

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        mode: [standalone, swarm]

    services:
      squid-proxy:
        image: ubuntu/squid:latest@sha256:6a097f68bae708cedbabd6188d68c7e2e7a38cedd05a176e1cc0ba29e3bbe029
        ports:
          - 3128:3128

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Install packages
        run: |
          sudo apt install -y musl-tools
      - run: go mod download
      - run: if [ "${{ matrix.mode }}" = "swarm" ]; then docker swarm init; fi
      - run: go test -ldflags="$BW_SDK_BUILD_FLAGS" -v -coverprofile=coverage-${{ matrix.mode }}.out -covermode=atomic -timeout 20m ./...
        timeout-minutes: 20
        env:
          WEBHOOK_SECRET: test_Secret1
          API_SECRET: api_Secret1
          GIT_ACCESS_TOKEN: ${{ secrets.GIT_ACCESS_TOKEN }}
          HTTP_PROXY: http://localhost:3128
          SOPS_AGE_KEY: ${{ vars.SOPS_AGE_KEY }} # used to encrypt/decrypt files in internal/encryption/testdata
          # Required for Bitwarden Go SDK, see CONTRIBUTING.md
          CGO_ENABLED: 1
          CC: musl-gcc
          BW_SDK_BUILD_FLAGS: "-linkmode external -extldflags '-static -Wl,-unresolved-symbols=ignore-all'"
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage-${{ matrix.mode }}.out
          flags: unittests
