name: Tests

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags-ignore:
      - '*'
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'
      - 'renovate.json'
  pull_request:
    branches:
      - '**'
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
      - 'LICENSE'
      - 'renovate.json'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          submodules: recursive
      - uses: codespell-project/actions-codespell@406322ec52dd7b488e48c1c4b82e2a8b3a1bf630 # v2
        with:
          check_filenames: true
          skip: ./.git,go.mod,go.sum
          ignore_words_list: AtLeast,AtMost

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - run: go mod download
      - name: Run linters
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: latest
          args: --timeout=5m

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        mode: [standalone, swarm]

    services:
      squid-proxy:
        image: ubuntu/squid:latest@sha256:253f634db67bfce12c34af54cdb27e5780a9ae289f993c104c6214a3391a19ab
        ports:
          - 3128:3128

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'
          cache: true
      - name: Install packages
        run: |
          sudo apt install -y musl-tools
      - run: go mod download
      - run: if [ "${{ matrix.mode }}" = "swarm" ]; then docker swarm init; fi
      - run: go test -ldflags="$BW_SDK_BUILD_FLAGS" -p 1 -v -coverprofile=coverage-${{ matrix.mode }}.out -covermode=atomic -timeout 20m ./...
        timeout-minutes: 20
        env:
          WEBHOOK_SECRET: test_Secret1
          API_SECRET: api_Secret1
          GIT_ACCESS_TOKEN: ${{ secrets.GIT_ACCESS_TOKEN }}
          HTTP_PROXY: http://localhost:3128
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
          # Required for Bitwarden Go SDK, see CONTRIBUTING.md
          CGO_ENABLED: 1
          CC: musl-gcc
          BW_SDK_BUILD_FLAGS: "-linkmode external -extldflags '-static -Wl,-unresolved-symbols=ignore-all'"
          SECRET_PROVIDER_ACCESS_TOKEN: ${{ secrets.SECRET_PROVIDER_ACCESS_TOKEN }}
          SECRET_PROVIDER: bitwarden_sm
          SECRET_PROVIDER_API_URL: https://vault.bitwarden.eu/api
          SECRET_PROVIDER_IDENTITY_URL: https://vault.bitwarden.eu/identity
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage-${{ matrix.mode }}.out
          flags: unittests
